[submodule "BankCommon"]
	path = BankCommon
	url = https://github.com/elangojerry/BankCommon.git
[submodule "CRIF"]
	path = CRIF
	url = https://github.com/elangojerry/CRIF.git
[submodule "TransUnion"]
	path = TransUnion
	url = https://github.com/elangojerry/TransUnion.git
